---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import MobileLander from "@/three/MobileLander"
import DesktopLander from "@/three/DesktopLander"

const projects = await getCollection("projects")

const projectArray = projects.map(({rendered, data, id}) => ({
	...data, 
	id,
	description: rendered!.html,
}))

---

<Layout>
	<div class="lg:hidden block">
		<MobileLander 
			projects={projectArray}
			client:load/>
	</div>
	<div class="lg:block hidden">
		<DesktopLander
			projects={projectArray}
			client:load
		/>
	</div>
</Layout>

<style>

</style>