---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import convertToUrl from "../lib/convertUrl";

const projects = await getCollection("projects")

const projectsCategorized = Object.entries(Object.groupBy(projects, (project) => project.data.category))
---

<Layout>
	{projectsCategorized.map(([category, projects]) => 
		<div>
			<h2>{category}</h2>

			<ul>
				{projects.map(project => (
					<li>
						<a href={`/projects/${convertToUrl(project.data.title)}`}>
							{project.data.title}
						</a>
					</li>
				))}
			</ul>
		</div>
	)}
</Layout>

<style>

</style>