---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

import MobileLander from "@/three/MobileLander"
import DesktopLander from "@/three/DesktopLander"
import convertToUrl from "src/lib/convertUrl";

const projects = await getCollection("projects")

const projectArray = projects.map(({rendered, data}) => ({
	...data, 
	id: convertToUrl(data.title),
	description: rendered!.html,
}))

---

<Layout>
	<div class="lg:hidden block">
		<MobileLander 
			projects={projectArray}
			client:only="react"/>
	</div>
	<div class="lg:block hidden">
		<DesktopLander
			projects={projectArray}
			client:only="react"
		/>
	</div>
</Layout>

<style>

</style>